table#tabla1{
    width: 1950px;
    text-align: center;
    padding: 5px;
}
table.tod{
    width: 100%;
}
td.der{
    text-align: right;
    width: 50%;
}
p.tex{
    text-align: center;
    margin: 5px;
}
tr.cen{
    text-align: center;
}
td.par {
    width: 33%;
}
tr#coll{
    background-color: yellow;
    border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 0px solid #000000;
}
td.col{
    background-color: yellow;
    border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 0px solid #000000;
}
td#td1{
    background-color: yellow;
    border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 0px solid #000000;
}
tr.col{
    background-color: yellow;
    border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 0px solid #000000;
}
iframe{
    width: 1950px;
    height: 1080px;
}
table#tabla2{
    width: 1950px;
    height: 1080px;
    text-align: center;
    padding: 15px;
}
iframe.hola {width: 600px; height: 600px}